$dot-size: 8px;

$color-primary: white;
$color-secondary: black;
$color-disabled: #bbbbbb;
$color-accent1: #ff004c;
$color-accent2: #005eff;
$color-background: #ededed;

$fadeTime: 0.3s

:root{
  --button-size: 14px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $color-background;
}

header{
  display: block;
  width: 100%;
  background-color: $color-primary;
}

main{
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

tr{
  line-height: var(--button-size);
}

td{
  width: var(--button-size);
  height: var(--button-size);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.boardButton{
  width: $dot-size;
  height: $dot-size;
  border-radius: 50%;
}

//button types

.default{
  background-color: $color-primary;
}

.start{
  background-color: $color-accent1 !important;
  animation: setPoint $fadeTime;
}

.target{
  background-color: $color-accent2 !important;
  animation: setPoint $fadeTime;
}

.visited{
  background-color: $color-disabled;
  animation: setPoint $fadeTime;
}

.wall{
  background-color: $color-secondary;
  animation: setPoint $fadeTime;
}

@keyframes setPoint{
  0%{
    transform: scale(1);
  }
  20%{
    transform: scale(0.5);
  }
  40%{
    transform: scale(1.2);
  }
  80%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}

.modal{
  max-width: 600px;
  max-height: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  border-radius: 10px;
  background-color: $color-primary;
  color: $color-secondary;

  & *{
    margin-bottom: 2rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
  & h2{
    font-size: 1.25rem;
    font-weight: bold;
  }
  & button{
    min-width: 5rem;
    width: auto;
    height: auto;
    padding: 1rem;

    border-radius: 5px;
    background-color: $color-accent1;
    color: $color-primary;
    cursor: pointer;
  }
}

.hide{
  z-index: -1;
  opacity: 0;
  animation: fade 0.3s;
}

@keyframes fade{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

